.navbar {
  width: 100vw;
  height: 10vh;
  background-color: red;
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 30px;
  font-weight: 600;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
